extends ../../layouts/default.pug

block main
  if(role.permissions.includes('accounts_view'))
    if (detailAccount)
      h1(class="mb-4") Chi tiết : #{detailAccount.fullName}

      .card.mb-4
        .card-header Thông tin chung
        .card-body
          .row
            .col-md-4.text-center
              img(
                src=detailAccount.avatar
                alt=detailAccount.fullName
                class="img-thumbnail mb-3"
                style="width: 250px; height: auto;"
              )
            
            .col-md-8
              h2(class="mb-3") #{detailAccount.fullName}

              div(class="mb-3")
                span Trạng thái: 
                if (detailAccount.status === "active")
                  span(class="badge badge-success") Hoạt động
                else
                  span(class="badge badge-danger") Dừng hoạt động

              div(class="mb-3")
                p Email: !{detailAccount.email}

              div(class="mb-3")
                p Phone: !{detailAccount.phone}

              div(class="mb-3")
                p Vai trò: !{roleDetail.title}
            
              div(class="mt-4")
                if(role.permissions.includes('accounts_edit'))
                  a(
                    href=`/${prefixAdmin}/accounts/edit/${detailAccount.id}`
                    class="btn btn-warning"
                  ) 
                    i(class="fa-solid fa-pen-to-square mr-1") Chỉnh sửa

      
      a(href=`/${prefixAdmin}/accounts` class="btn btn-secondary mt-3") Quay lại

  else
    h1 Bạn không có quyền 